body{
    font-family: "Space Mono", monospace;

}
.container{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'one one'
    'two three'
    'four four';
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10vh 80vh 10vh;
}
.topcontent{
    grid-area: one;
}
.picture{
    grid-area: two;
    display: flex;
    align-items: end;
    margin-top: 30px;
   
    flex-direction: column;
}
.maincontent{
    grid-area: three;
    display: flex;
    flex-direction: column;
   align-items: start; 
   margin-top: 100px;
   margin-left: 50px;

 
}
.lastcontent{
    grid-area:four;
    text-align: center;
   
}
button{
    background-color: black;
    color: white;
}
@media (max-width: 420px){
   .container {
    display: grid;
    height: 100vh;
grid-template-areas: 'one'
'two'
'three'
'four';
grid-template-columns: 1fr;
grid-template-rows: 10vh 50vh 30vh 10vh ;


    }
}

